package server

type Person struct {
	Name string
}

templ Hello(name string) {
	<div>Hello, { name }</div>
}

templ Greeting(person Person) {
	<div class="rounded-e bg-blue-200 m-4 p-4">
		@Hello(person.Name)
	</div>
}
